.arraivlsSection{

    display: grid;
    grid-template-columns: 4fr 2fr;
    min-height: 60vh;
 
}
.detailsSection{

    display: grid;
    grid-template-columns: 1fr 4fr;
    
 
}
@media only screen and (max-width: 600px) {
    .arraivlsSection{

        
        grid-template-columns: 1fr;
        
     
    }
    .detailsSection{
        grid-template-columns: 1fr;
    }
  }


